<div class="top-main">
  <div class="top-massage">
    <h2>アイディアをかたちに</h2>
    <p>いまのきもちをつぶやいてみよう</p>
  </div>
</div>
<div class="category-list">
    <ul>
      <li><a>トップ</a></li>
      <li><a>社会にいいこと</a></li>
      <li><a>ものづくり</a></li>
      <li><a>生活</a></li>
    </ul>
  </div>
