<div class="main top-main">
  <div class="top-massage">
    <h2>アイディアをかたちに</h2>
    <p>いまのきもちをつぶやいてみよう</p>
  </div>
</div>
<div class="category-list">
  <ul>
    <li>トップ</li>
    <li>社会にいいこと</li>
    <li>ものづくり</li>
  </ul>
</div>
