<div class="top-main">
  <div class="top-massage">
    <h2>アイディアをかたちに</h2>
    <p>いまのきもちをつぶやいてみよう</p>
  </div>
</div>
<div class="category-list">
  <ul>
    <li><a href="#">トップ</a></li>
    <li><a href="#">社会にいいこと</a></li>
    <li><a href="#">ものづくり</a></li>
    <li><a href="#">生活</a></li>
  </ul>
</div>
<div class="card-design">
  <section class="card">
    <img class="card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt="">
    <div class="card-content">
      <h1 class="card-title">タイトル</h1>
      <p class="card-text">本文</p>
    </div>
    <div class="card-link">
      <a>About</a>
      <a>Website</a>
    </div>
  </section>
  <section class="card">
    <img class="card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt="">
    <div class="card-content">
      <h1 class="card-title">タイトル2</h1>
      <p class="card-text">本文</p>
    </div>
    <div class="card-link">
      <a>About</a>
      <a>Website</a>
    </div>
  </section>
  <section class="card">
    <img class="card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt="">
    <div class="card-content">
      <h1 class="card-title">タイトル3</h1>
      <p class="card-text">本文</p>
    </div>
    <div class="card-link">
      <a>About</a>
      <a>Website</a>
    </div>
  </section>
  <section class="card">
    <img class="card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt="">
    <div class="card-content">
      <h1 class="card-title">タイトル4</h1>
      <p class="card-text">本文</p>
    </div>
    <div class="card-link">
      <a>About</a>
      <a>Website</a>
    </div>
  </section>
</div>
