<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create")do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <input name="title"><%= @post %></input>
          <br>
          <form action="cgi-bin/formmail.cgi" method="post">
          <p>カテゴリー：<br>
          <select name="category">
            <option value="service">社会にいいこと</option>
            <option value="making">ものづくり</option>
            <option value="life">生活</option>
          </select></p>
          <br>
          <p>本文</p>
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>
